@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply min-w-full min-h-screen bg-primary text-secondary;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1200px, 90%) 1fr;
  grid-template-rows: 200px auto 150px;
}

.container > * {
  grid-column: 2;
}
